.card{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

#progression{
  background-color: #15CD72;
}

#cloture{
  background-color: #FF796A;
}

#offre{
  padding-bottom: 30px;
  padding-top: 70px;
}

#cta{
  margin-top: 70px;
}

#descriptif > ul > li{
  margin-top: 5px;
  margin-bottom: 5px;
}

#carousel_section{
  padding-bottom: 15px;
}

#icones{
  text-align: center;
}

#card_footer{

  margin-bottom: 5px;
  padding-top:3px;

}

#popinfo{
  padding: 0px;
  height: 14px;
  padding-bottom: 27px;

}

#col5{
  color:red;
}

#col6{
  color:green;
}

.popover{
    max-width:200px;
    max-height:250px;
    overflow-y: auto;
    overflow-x: auto;
}

