.card{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

#progression{
  background-color: #15CD72;
}

#offre{
  padding-bottom: 30px;
  padding-top: 70px;
}

#cta{
  margin-top: 70px;
}

#descriptif > ul > li{
  margin-top: 5px;
  margin-bottom: 5px;
}

#carousel_section{
  padding-bottom: 15px;
}

#icones{
  text-align: center;
}

#card_footer{

  margin-bottom: 5px;
  padding-top:3px;

}

.white{
color:white;
}

