#centerbuttons {
  width:250px;
  margin:0 auto;
  text-align: center;
}


.creation{

  background-color: lightgrey;
  margin-top: 100px;
  padding-bottom: 10px;
  width: 800px;
  border-radius: 15px;
  margin-bottom: 100px;
}
