/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.enblanc{
  color: white;
}

.tof{
  margin-top: 10px;
}

.boldy{
  font-weight: bold;
}

.underlign{
  text-decoration: underline;
}

.title{

  margin-bottom: 0px;
}

.tagline{
  font-size: 16px;
}

#banner{
  padding-top: 0px;
  padding-bottom: 0px;
}

.couleur{
  color: white;
}

.arrondie{
  border-radius: 6%;

}

.rien{}




