

<% if notice %>
<br>
<br>
  <div class=" alert alert-success "><!-- SUCCESS -->
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">×</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>Bonjour!</strong> Vous êtes en ligne.
  </div>
<% end %>

<% if alert %>
<br>
<br>
  <div class="alert alert-warning "><!-- INFO -->
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">×</span>
    <span class="sr-only">Close</span>
  </button>
  <strong>Au revoir!</strong> vous êtes à présent déconnecté.
</div>
<% end %>
