<footer id="footer" class="bordel" >
  <div class="container">

    <div class="row">

      <div class="col-md-8 col-sm-8">

        <!-- Footer Logo -->
      <!--   <img class="footer-logo footer-2" src="assets/images/logo-footer.png" alt="" /> -->
      <%=image_tag "logo.png", class: "footer-logo footer-2 taille"%>


        <!-- Small Description -->
        <p>Viag'up est la première plateforme 100% en ligne qui vous permet d'investir à plusieurs dans le viager. Vous pouvez également nous proposer votre projet !</p>

        <hr />

        </div>


          <div class="col-md-4 col-sm-4 hidden-xs">

            <!-- Social Icons -->
            <div class="margin-left-50 clearfix">

              <p class="margin-bottom-10">Suivez-nous</p>
              <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>

              <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>

              <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>

              <a href="#" class="social-icon social-icon-sm social-icon-transparent social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                <i class="icon-rss"></i>
                <i class="icon-rss"></i>
              </a>

            </div>
            <!-- /Social Icons -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright colortheme">
    <div class="container">
      <ul class="list-inline inline-links mobile-block pull-right nomargin">
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">CGU</a></li>
        <li><a href="#">CGV</a></li>
        <li><a href="#">Confidentialité</a></li>
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Plan du site</a></li>
      </ul>

      &copy; Viagup.com . Tous droits réservés . 2016
    </div>
  </div>
  </div>
</footer>
