<div class="row footer-margin-top">
  <div class="col-xs-12">
    <footer id="footer" class="clearfix ">
      <div class="footer footer-color">
        <div class="container">
          <div class="footer-inner">
            <div class="row">

              <div class="col-xs-12 col-md-6">
                <div class="footer-content">
                  <h2 class="title">Où nous trouver</h2>
                  <div class="separator-2 separator-color"></div>
                  <p>Rejoignez-nous sur les réseaux sociaux !</p>
                  <ul class="social-links circle animated-effect-1">
                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    <li class="instagram"><a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                  <div class="separator-2 separator-color"></div>
                  <ul class="list-icons">
                    <li><i class="fa fa-map-marker pr-10 text-default"></i> 12 rue des tours, Lille 59800</li>
                    <li><i class="fa fa-phone pr-10 text-default"></i>0665789856</li>
                    <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>info@mapremierecave.com</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 col-md-6">
                <div class="footer-content">
                  <h2 class="title">Nos services</h2>
                  <div class="separator-2 separator-color"></div>
                  <nav>
                    <ul class="nav nav-pills nav-stacked">
                      <li><%= link_to "Je possède une carte cadeau"%></li>
                      <li><%= link_to "Offrir une cave"%></li>
                      <li><%= link_to "J'achète une cave"%></li>
                      <li><a href="#">Termes et conditions</a></li>
                      <li><a href="page-about.html">A propos de nous</a></li>
                    </ul>
                  </nav>
                  <div class="newsletter-padding-home">
                    <p>Inscrivez-vous à la newsletter pour connaître les dernières actualités et bons plans</p>
                    <form class="form-inline margin-clear">
                      <div class="form-group has-feedback">
                        <label class="sr-only" for="subscribe2">Email address</label>
                        <input type="email" class="form-control" id="subscribe2" placeholder="michel@gmail.com" name="subscribe2" required="">
                        <i class="fa fa-envelope form-control-feedback"></i>
                      </div>
                      <button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">S'inscrire<i class="fa fa-send"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- .footer end -->

      <!-- .subfooter start -->
      <!-- ================ -->

      <!-- .subfooter end -->

    </footer>
  </div>
</div>
