<section>
<%=link_to "créer un viager", pages_creation_viager_path, class: "btn-yours2"%>
<%=link_to "établir une date de signature chez le notaire", pages_signature_viager_1_path, class: "btn-yours2"%>


</section>


