<% content_for(:title) do %>
Blog Viag'Up
<% end %>
<section>
        <div class="container">




          <!-- POST ITEM -->
          <div class="blog-post-item">

            <h2><a href="blog-single-default.html">BLOG EN CONSTRUCTION</a></h2>

            <ul class="blog-post-info list-inline">
              <li>
                <a href="#">
                  <i class="fa fa-clock-o"></i>
                  <span class="font-lato">June 29, 2015</span>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <i class="fa fa-comment-o"></i>
                  <span class="font-lato">28 Comments</span>
                </a>
              </li> -->
              <li>
                <i class="fa fa-folder-open-o"></i>

                <a class="category" href="#">
                  <span class="font-lato">Viager</span>
                </a>
                <a class="category" href="#">
                  <span class="font-lato">Mutualisation</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-user"></i>
                  <span class="font-lato">Arnaud</span>
                </a>
              </li>
            </ul>

            <p>Notre plateforme propose à la communauté d’investisseurs d’acheter des parts de Sociétés Civiles Immobilière. Ces parts ne représentent ni plus ni moins que la division d’un viager occupé. Ces derniers représentent 95% des biens de ces secteur et leur rentabilité est meilleure du fait de l’abattement de départ sur la valeur libre du bien.</p>

            <a href="#" class="btn btn-reveal btn-default">
              <i class="fa fa-plus"></i>
              <span>En savoir plus.</span>
            </a>

          </div>
          <!-- /POST ITEM -->


          <!-- PAGINATION -->
          <div class="text-center">
            <!-- Pagination Default -->
            <!-- <ul class="pagination nomargin">
              <li><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul> -->
            <!-- /Pagination Default -->
          </div>
          <!-- /PAGINATION -->

        </div>
      </section>
