<section>
<br>
<br>
<br>
<br>

<%= cl_image_tag @investment_profile.justificatif ,:height=> 399, :width=> 600, :crop=>"fill", class: "img-responsive", alt: ""%>
<%= cl_image_tag @investment_profile.idcard ,:height=> 399, :width=> 600, :crop=>"fill", class: "img-responsive", alt: ""%>
</section>
