<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col_xs_12">
    <ul class="process-steps nav nav-justified">
      <li >
        <a href="#">1</a>
        <h5>Informations</h5>
      </li>
      <li>
        <a href="#">2</a>
        <h5>Profil investisseur</h5>
      </li>
      <li >
        <a href="#">3</a>
        <h5>Documents</h5>
      </li>
      <li class="active">
        <a href="#">4</a>
        <h5>Signature</h5>
      </li>
    </ul>
  </div>
</div>

<br>
<br>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p><i class="fa fa-info-circle" aria-hidden="true"></i>
        Vous vous apprétez à signer votre fiche d'information investisseur. Cette dernière valide les données que vous nous avez confiées précédemment et nous permet un accompagnement personnalisé.
      </p>
    </div>
    <div class="col-xs-12 text-center">
      <%= form_tag signatures_path, method: :post do %>
      <%= hidden_field_tag :name, current_user.investment_profile.prenom %>
      <%= hidden_field_tag :email, current_user.email %>
      <%= submit_tag 'Signer votre charte investisseur', class: "btn-yours-small" %>
      <% end %>
    </div>
  </div>
</div>



