// Your footer style
.taille{
  height:auto;
  width: 120px;
}

.bordel{
  background: linear-gradient(to bottom, #303943 0%, #313131 100%) !important;
}


.vert2{
  background-color: $green !important;
  font-weight: bold;
}
