#header.header-sm #topNav #topMain > li > a{
  font-weight: bold !important;
}
#header.header-sm #topNav #topMain > li > ul > li > a{
  font-weight: bold !important;
}

.connexion{
  font-size: 15px;

}
#header.dark .nav-second-main .inscription{
  color: #15CD72;
  font-size: 15px;

}

.colortheme{
  background-color: #303943 !important;
  background-image: transparent !important;
}



.heading-title.heading-arrow-bottom:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px  solid #303943 !important;
    left: 50%;
    margin-left: -20px;
    bottom: -20px;
}
