#header.header-sm #topNav #topMain > li > a{
  font-weight: bold !important;
}
#header.header-sm #topNav #topMain > li > ul > li > a{
  font-weight: bold !important;
}

.connexion{
  font-size: 15px;

}
#header.dark .nav-second-main .inscription{
  color: #15CD72;
  font-size: 15px;

}
